:root {
    font-size: 1.6rem;
}

.horizontal {
    align-self: center;
    width: 90%;
    height: 5px;
    background-color: rgb(0, 0, 0);
}

.hero img {
    width: 1000px;
}

.about {
    position: absolute;
    top: 8%;
    right: 3%;
    margin-left: 1.2em;
}

.about h1 {
    font-weight: 700;
    font-size: clamp(2rem, 8vw, 4.8em);
    text-align: center;
}

.about .about-text {
    max-width: 47rem;
    margin: 0 0 0 auto;
    background-color: whitesmoke;
    line-height: 1.6em;
    letter-spacing: 1.8px;
    font-size: clamp(22px, 3vw, 1em);

    /* Glassmorphism */
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.follow {
    position: absolute;
    right: 10%;
    bottom: 12%;
}

.follow h2 {
    font-size: clamp(1.7em, 10vw, 3em);
    font-weight: 600;
}

.follow li {
    transition: 0.15s ease;
}

.follow li:hover {
    transform: scale(115%);
}

.team h2 {
    font-size: clamp(2em, 10vw, 3em);
    font-weight: 600;
}

.team .team-info {
    text-align: justify;
    width: 80%;
    margin: 0 auto 5em;
    font-size: clamp(20px, 3vw, 1.15em);
    line-height: clamp(1.4rem, 4vw, 1.4em);
}

#persons {
    margin: 0 auto;
    padding: 0 clamp(0.5em, 5vw, 3.5em);
}

#persons .person {
    display: flex;
    align-items: center;
    gap: 0.8em;
    justify-content: center;
}

.person img {
    width: clamp(150px, 15vw, 160px);
}

#persons .person-info {
    display: inline-block;
    flex-basis: 40rem;
}

.person-info h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: clamp(1.6em, 2vw, 1.8em)
}

.person-info .hr-span {
    display: block;
    background-color: rgb(0 0 0 / 0.4);
    height: 0.08em; 
}

.person-info p {
    font-size: clamp(0.85em, 2vw, 1.15em);
    width: 95%;
    margin-top: 0.4em;
}

.contact h2 {
    font-size: clamp(1.7em, 10vw, 2em);
    font-weight: 600;
}

.contact form {
    gap: 2rem;
}

.contact .box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box #message {
    flex: 1;
    resize: none;
    border: 2px solid black;
    min-height: 300px;
    padding: 0.5em;
}

.contact label {
   display: block;
   font-weight: 600;
   font-size: clamp(0.70em, 2vw, 0.85em);
   margin-bottom: 0.5em;
   text-transform: uppercase;
}

.contact .inputs {
    flex: 1;
}

.inputs input {
   display: block; 
   width: 100%;
   padding-inline: 0.5em;
   height: 2.5em;
   margin-bottom: 1.4em;
   border: 2px solid black;
}

.inputs input, #message {
    font-size: clamp(0.75em, 2vw, 1em);
}

.inputs button {
    display: block;
    margin: 0 auto;
   text-transform: uppercase;
}

@media (max-width: 1174px) {
    .hero {
        background-image: url('https://placehold.co/1100x1200');
        background-size: cover;
    }
    .hero img {
        display:  none;
    }
    
    .about {
        position: static;
        margin: 0 auto;
    }

    .about h1 {
        margin-top: 0.8em;
    }

    .about .about-text {
        letter-spacing: unset;
    }

    .follow {
        position: static;
        padding: 1.5em 0;
        width: clamp(300px, 60vw, 600px); 
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 700px) {
    #persons .person {
        display: block;
    }    

    .person img {
        display: block;
        margin: 0 auto 1em;
    }

    .person-info :is(h3, p) {
        text-align: center;
    }

    .horizontal {
        height: 3.6px;
    }
}
