:root {
    font-size: 1.6rem;
    --primary: #FCEA6F;
    --primary-dim: #AAA26D;
    --seconday: #88FCC4;
    --gradient:
}

.hero-section h1 + div {
    /* Glassmorphism */
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hero-section h1 {
    transform: translateY(57%);
    font-weight: 600;
    font-size: clamp(60px, 15vw, 4.5em);
    position: relative;
    z-index: 3;
}

.main-search {
    padding-left: 2.2em !important;
}

.hero-section button, .main-search::placeholder, .top-rated h3, .share h3, .buttons button {
    text-transform: uppercase;
    text-align: center;
}

.search-btn {
    letter-spacing: 0.07em;
}

form button:disabled {
    top: 15%;
}

main {
    gap: 2rem;
}   

.sidebar {
    flex: 1;
    background: whitesmoke;
}

.sidebar {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar :is(h5, li) {
    text-transform: capitalize;
    transition: 0.27s ease;
    list-style-type: none;
    width: max-content;
}

.sidebar h5 {
    font-weight: bold;
    font-size: clamp(26px, 8vw, 1.5em);
}

.sidebar li:hover {
    transform: scale(110%);
}

.sidebar li a {
    color: black;
    font-size: clamp(26px, 5vw, 1.3em);
    text-decoration: none;
}

.sidebar #spacer {
    flex-grow: 1;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 500px;
    background-color: lightgray;
    gap: 0.6em;
}

.sidebar .menu button {
    text-transform: uppercase;
    font-weight: bold;
}
