#modal {
    margin-top: 1.6em;
    background-color: #FC7562;
}

#modal::backdrop {
    background-color: rgb(0 0 0 / 0.3);
}

#modal-close {
    transition: 0.2s ease-in;
}

#modal-close:hover  {
    transform: scale(110%);
}

.share {
    flex: 3;
    background: whitesmoke;
}

.share h3 {
    font-size: clamp(23px, 4vw, 1.6em);
    font-weight: bold;
}

.share #img-getter {
    background-color: lightgray;
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share img {
    width: 100%;
}

#img-getter label {
    text-transform: uppercase;
    font-size: clamp(0.6em,2vw, 1.8em);
}

.share .d-flex {
    flex-direction: column;
}

.share .form-fillup {
    flex: 3;
}

.form-fillup input[name="dish-name"] {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 0.08em solid black;
    text-align: center;
    margin: 1em auto 0;
    padding: 0.3em;
    font-size: clamp(0.7em, 2vw, 1.3em);
}

.form-fillup input[name="dish-name"]::placeholder {
    text-transform: uppercase;
}

.form-fillup h4 {
    font-size: clamp(0.6em, 2vw, 1em);
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.form-fillup textarea {
    resize: none;
    border: 0.09em solid black;
    height: 80vw;
    max-height: 38rem;
    overflow-y: scroll;
    font-size: clamp(0.6em, 2vw, 1em);
}

.form-fillup button[type="submit"] {
    display: block;
    margin: 1em auto 0;
    text-transform: uppercase;
    padding: 0.5em 3em;
    font-size: clamp(0.6em, 2vw, 0.8em);
    font-weight: bold;
    letter-spacing: 0.1em;
}
